.aether.sheet.item form {
  display: flex;
  flex-direction: column;
}
.aether.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.aether.sheet.item .sheet-content .editor {
  height: 100%;
}
