<div class="firearm-chat item" data-item-id="{{_id}}" data-owner-id="{{owner}}">
    <div class="firearm-name"><h2>{{name}}</h2></div>
    <div class="firearm-description">{{{data.description}}}</div>
    <div class="card-buttons">
        <button class="hasty-shot">Hasty Shot</button>
        <button class="careful-shot">Careful Shot</button>
    </div>
</div>